<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    <form action="/create" method="post">
      Name: <input type="" name="name" value="">
      Last name: <input type="textarea" name="last_name" value="">
      Email: <input type="textarea" name="email" value="">
      Password: <input type="textarea" name="password" value="">
      Confirm password: <input type="textarea" name="confirm_password" value="">
      <!-- <button type="submit" name="button">Submit</button> -->
      <input type = 'submit' value = 'submit'>
    </form>
  </body>
</html>
