body {
	margin: 0;
}
.header {
	width: 970px;
	background-color: #8b0000;
	margin: 0;
	position: relative;
}	
 
.header img {
	margin-left: 30px;
	margin-top: 5px;
}

.header p {
	position: absolute;
	margin-top: 25px;
	font-size: 1.5em;
	color: white;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;

}

.header .header-list {
	margin: 0;
	margin-left: 400px;
	margin-top: 5px;
	width: 405px;
	position: absolute;
	display: inline-block;
}

.header .header-list  h5 {
	margin: 0;
	color: white;
	display: inline-block;
}

 .header .header-list  a{
	color: #dea821;
	font-size: 0.8em;
	margin-left: 5px;
}

.header .header-list form {
	display: inline-block;
	margin-left: 20px; 
}

button {
	background-color: inherit;
	color: white;
} 

.menu {
	background-color: #e6e6e6;
	width: 963px;
	padding: 8px 0; 
	padding-left: 8px;
}

.menu a {
	text-decoration: none;
	padding: 15px;
	color: #404040;
	font-family: 'Roboto', sans-serif;	
}

.menu span {
	border: 1px solid #404040;
}

.tabular {
	width: 210px;
	margin: 20px;
	background-color: #e6e6e6;
	border: 1px solid #404040;
	padding: 10px 0;	
	display: inline-block;
}

.tabular  span {
	text-decoration: none;
	display: inline-block;
	padding-right: 4px;

}

.tabular a {
	margin: 0;
	color: #8b0000;
	padding: 11px;
	display: block;
}

.content {
	padding-left: 20px;
	width: 600px;
	display: inline-block;
}

.content h3, h6 {
	color: #8b0000;
}

.content ul li a {
	color: #8b0000;
}

.content-status {
	width: 600px;
	margin-left: 270px;
}
.content-status h3, a {
	color: #8b0000;
}



