body {
    background-color: pink;
}

.login {
    margin: auto;
}

.registration{
        margin: 8px;
}

.registration input {
    width: 300px;
    display: block;
}

#registration {
    margin: 8px;
    margin-left: 150px;
    width: 80px;
}

.login {
    margin-top: 15px;
    margin-left: 50%;
}
