<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Word Generator</title>
    </head>
    <body>
        <!-- <h1>Random Word :</h1>
        <form action="/word" method="get">
            <h3>{{request.session.word}}</h3>
            <input type="submit" name="" value="Generate">
        </form> -->
        <div id="container">
            <h2>Random Word (attempt #{{ request.session.attempt }})</h2>
            <div>
                <h1>{{ request.session.word }}</h1>
            </div>
            <form action="/create" method="post">
                {% csrf_token %}
                <input type="submit" value="Generate">
            </form>
            <form action="/reset" method="post">
                {% csrf_token %}
                <input type="submit" value="RESET">
            </form>
        </div>
    </body>
</html>
