<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form class="" action="/create" method="post">
    <input type = 'text' placeholder = 'name' name = 'name'>
    <select class="" name="location">
      <option value="San Jose">San Jose</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Seattle">Seattle</option>
      <option value="Burbank">Burbank</option>
      <option value="Dallas">Dallas</option>
    </select>

    <select name="language" id="">
      <option value="Javascript">Javascript</option>
      <option value="Swift">Swift</option>
      <option value="Ruby">Ruby</option>
      <option value="Python">Python</option>
      <option value="PHP">PHP</option>
    </select>
    <label>Description:</label>
    <textarea name = 'description'></textarea>
    <input type = 'submit' value = 'submit'>
  </form>

</body>
</html>
