body {
	background-color: ;
}

.main_menu {
	background-color: #D3D3D3;
	border-radius: 20px;
	border: 2px solid #D3D3D3;
	width: 970px;
	margin-left: 8px;
}

.main_menu h1 {
	margin-left: 15px;
}

.article_list {
	margin-top: 20px;
	margin-left: 8px;
	background-color: #e6e6e6;
	width: 300px;
	position: absolute;
	border-radius: 20px;
}

.article_list h4 {
	margin: 15px;
	color: #2e2eb8;
}
.article_list li {
	color: #2e2eb8;
}

.essays_list {
	display: inline-block; 
	margin-top: 20px; 
	margin-left: 340px;
	width: 640px;
	background-color: #a6a6a6;
	border-radius: 20px;
}

.essays_list h2 {
	margin-left: 20px; 
	margin-top: 25px;
}

.essays_list p {
	margin-left: 20px;
}

.essays_list li {
	margin: 20px;
}

.contact_table {
	width: 970px;
	background-color: #e6e6e6;
	border-radius: 15px;
	margin-left: 12px;
	margin-top: 20px;
	padding: 15px; 
}
.contact_table p {
	margin: 0;
}