<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Full Friends</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" >
    </head>
    <body>
        {% if create == 2 %}
        <p>
        </p>
        <div>
            <table>
              <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              {% for record in query %}
                <tr>
                    <td>{{ record['first_name'] }}</td>
                    <td>{{ record['last_name'] }}</td>
                    <td>{{ record['email'] }}</td>
                    <td>{{ record['created_at'] }}</td>
                    <td>{{ record['updated_at'] }}</td>
                    <td>
                        <a href="/friends/{{record['id']}}/edit">
                            <button>Edit</button>
                        </a>
                    </td>
                    <td>
                        <form class="delete" action="/friends/{{ record['id'] }}/delete" method="post">
                            <input type="submit" name="delete" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if create == 1 %}
        <p>Add a new friends:</p>
        <form class="create" action="/create1" method="post">
            Name: <input type="text" name="first_name" value="">
            Surname: <input type="text" name="last_name" value="">
            Email: <input type="text" name="email" value="">
            <input type="submit" name="name" value="Add new friends">
        </form>
            {%with messages = get_flashed_messages()%}
                <div class="">
                    {%for message in messages%}
                        {{message}}
                    {%endfor%}
                </div>
            {%endwith%}
        {% endif %}
    </body>
</html>
